GATEWAY_API_KEY=

AIBOX_KEYS=sk-xxx
AIBOX_MODEL=deepseek-v4-pro
AIBOX_BASE_URL=https://api.ai-box.vn/v1/chat/completions

CLAUDE_KEYS=sk-xxx
CLAUDE_MODEL=claude-opus-4-7
CLAUDE_BASE_URL=https://aiapiv2.pekpik.com/v1/chat/completions

MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/?appName=MongoDB
